.specialGallery {
    .headerWrapper {
        margin-bottom: 3em;
    }
    
    .listWrapper {
        margin-bottom: 1.5em;
    }
    
    .paginationWrapper {
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-bottom: 8em;
    }
}
