.painting {
    background-color: transparent;

    > .imageSection {
        position: relative;
        z-index: 0;
        margin-bottom: -65px;

        > .image {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    }

    > .cardSection {
        border: 1px solid #f0f1f1;
        background-color: #ffffff;
        padding: 1em;

        display: grid;
        grid-template-columns: minmax(0, 2fr) 0.5fr;
        grid-template-rows: minmax(0, 1fr);
        justify-items: stretch;
        align-items: stretch;
        gap: 1em;

        max-width: 330px;
        max-height: 130px;
        margin: auto;

        position: relative;
        z-index: 1;

        > .infoSection {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr;
            align-items: center;

            width: 100%;
            height: 100%;

            > .title {
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .author {
                color: #e0a449;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .view {
                font-weight: bold;
                align-self: end;
            }
        }

        > .controlSection {
            align-self: center;
            justify-self: center;
        }
    }
}
