.searchForm {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    > .headerWrapper {
        max-width: 600px;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 3em;
    }

    > .searchWrapper {
        max-width: 700px;
        width: 100%;
        margin: auto;
    }

    > .sortWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5em;

        max-width: 700px;
        width: 100%;
        margin: auto;

        > .sortTitle {
            color: #e0a449;
            font-weight: bold;
        }

        > .sortButton {
            border-radius: 10px;
            padding: 1em;
            background-color: #f0f0f0;

            transition: color 0.1s linear;

            &[data-active=true] {
                color: #e0a449;
            }

            @media (hover: hover) {
                &:hover {
                    color: #e0a449;
                    scale: 1.1;
                }
            }
        }
    }

    > .resultsWrapper {
        border-radius: 15px;
        padding: 1em;
        background-color: #f0f0f0;

        max-width: 730px;
        margin: auto;

        > .results {
            padding: 0.5em;
            max-height: 300px;
            overflow-y: scroll;

            > .noMaches {
                text-align: center;
            }
        }

        &:has(> .results:empty) {
            visibility: hidden;
        }
    }

    &:has(.results:empty) {
        .sortWrapper {
            visibility: hidden;
        }
    }
}
