.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    border-radius: 15px;
    padding: 1em;
    background-color: #f0f0f0;

    > .input {
        width: 100%;
        font-size: 1.3em;
    }

    > .icon {
    }
}
