@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: calc(12px + (6 * ((100vw - 375px) / (1920 - 375))));
    color: #393939;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: clamp(2em, 2vw + 1em, 4em);
}

h2 {
    font-size: clamp(1.8em, 1.8vw + 0.8em, 2em);
}

h3 {
    font-size: clamp(1.3em, 1.6vw + 0.6em, 1.5em);
}

h4 {
    font-size: clamp(1em, 1.4vw + 0.4em, 1.125em);
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
}
