.headerWrapper {
    max-width: 600px;
    margin: auto;
    margin-bottom: 4em;
}

.searchWrapper {
    max-width: 700px;
    margin: auto;
    margin-bottom: 8em;
}

.searchedHeaderWrapper {
    margin-bottom: 3em;
}

.searchedResultsWrapper {
    margin-bottom: 1.5em;
}

.searchedPaginationWrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 8em;
}

.forYouHeaderWrapper {
    margin-bottom: 3em;
}

.noMaches {
    text-align: center;
}
